<html>
<head>
      <title>Dashboard</title>
	
	  <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>    
		 
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
       <script src="views/js/dashboard.js"></script>
</head>
<style>

#header
{
background:#ee6e73;height:70px;
}

.heading_top
{
color:white;font-family:segoe print;font-weight:bold;margin-top:20px;
}

.menu_items
{
color:red;
}

#menu_card
{
height:100%;background-color:#ee6e73;width:160px;position:fixed;left:-10px;top:45px;
}

.menu_text
{
color:white;font-weight:bold;
}

.menu_text:hover
{
 cursor:pointer;color:#ee6e73;
}

.menu_icons
{
margin-right:10px;position:relative;top:2px;
}

#right_content
{
float:right;margin-right:30px;margin-top:-6px;height:530px;
}

#open_modal
{
   float:right;background-color:#ee6e73;
}

#form_save
{
float:right;margin-right:10px;
}

#save_edits
{
float:right;margin-right:10px;
}

#delete_row
{
float:left;
}

.row
{
cursor:pointer;
}

#modal_cross
{
float:right;color:red;margin-top:-40px;margin-right:20px;
}

.box
{
width:400px;height:200px;border:1px solid gray;float:left;
}
.after-box {
  clear: left;
}

.small_icons
{
float:left;margin-left:30px;margin-top:8px;
}


</style>
<body>

   
  
 <div class="row">
   <% include header.ejs %>
  <!-- content starts  -->
  <div  class="col s12 m12 l12">
 
   <!-- menu starts -->
   <div class="row">
    <div class="col s2 m2 l2">
      <div class="card" id="menu_card">
        <div class="card-content white-text">
             <% include menu_items.ejs %>
        </div>
        
      </div>
    </div>
  </div>
  <!-- menu ends -->
  
 
  
  
 
  
 <!-- table starts -->
 <div class="row">
    <div id="right_content" class="col s12 m10 l10">
      <div class="card white">
        <div class="card-content gray-text">
        <span  class="card-title">Dashboard</span>
		<br>
		<span id="dashboard_month" style=""></span>
		<br>
		<!--div class="box">
		<canvas id="myChart"></canvas>
        </div -->
		
		<div class="row">
		
		  <div class="col s4 m4 l4">
            <div class="card white lighten-1" title="Pending orders (Orders which are not dispatched or cancelled)">
			   <img class="small_icons" style="" src="views/images/cart_icon.png" style="margin-top:25px;float:left;margin-left:60px;" width="80" height="80"/>
             <div class="card-content gray-text">
             <span id="pending_orders" class="card-title" style=""></span>
			 <p>Pending Orders</p>
		     
             </div>
           </div>
          </div>
		
		
		 <div class="col s4 m4 l4">
            <div class="card white lighten-1" title="All orders of this month">
			   <img class="small_icons" src="views/images/cart_icon.png" width="80" height="80"/>
             <div class="card-content gray-text">
             <span id="total_orders" class="card-title" style=""></span>
			 <p>Orders</p>
		     
             </div>
           </div>
          </div>
		  
		
		  
		     <div class="col s4 m4 l4">
            <div class="card white lighten-1">
			   <img class="" style="margin-top:25px;float:left;margin-left:30px;" src="views/images/jar_icon.png" width="70" height="70"/>
             <div class="card-content gray-text">
             <span id="total_stock" class="card-title" style=""></span>
			 <p>In Stock</p>
		     
             </div>
           </div>
          </div>
		  
		   <div class="col s4 m4 l4">
            <div class="card white lighten-1">
			   <img class="" style="margin-top:35px;float:left;margin-left:68px;" src="views/images/rupee_icon.png" width="50" height="50"/>
             <div class="card-content gray-text">
             <span id="total_due_payment" class="card-title" style=""></span>
			 <p>Pending</p>
		     
             </div>
           </div>
          </div>
		  
		   <div class="col s4 m4 l4">
            <div class="card white lighten-1">
			   <img class="" style="margin-top:35px;float:left;margin-left:68px;" src="views/images/rupee_icon.png" width="50" height="50"/>
             <div class="card-content gray-text">
             <span id="total_payment" class="card-title" style=""></span>
			 <p>Total</p>
		     
             </div>
           </div>
          </div>
		  
		  
		    <div class="col s4 m4 l4">
            <div class="card white lighten-1">
			   <img class="" style="margin-top:25px;float:left;margin-left:30px;" src="views/images/jar_icon.png" width="70" height="70"/>
             <div class="card-content gray-text">
             <span id="total_jars" class="card-title" style=""></span>
			 <p>Total Jars</p>
		     
             </div>
           </div>
          </div>
		  
		   
		</div>
		<span id="graph_des" class="card-title">Overalls</span>
		<br>
		<span>Since July 2018</span>
		<!-- graph row starts  -->
		<div class="row">
		
		   <div class="col s12 m6">
            <div class="card white">
             <div class="card-content black-text">
             <span class="card-title">Amount</span>
		     <canvas id="myChart"></canvas>
             </div>
           </div>
          </div>
	
	      <div class="col s12 m6">
            <div class="card white">
             <div class="card-content black-text">
             <span class="card-title">Jars</span>
		     <canvas id="myChart2"></canvas>
             </div>
           </div>
          </div>
		
		</div> <!-- row ends -->
		<!-- Graph row ends -->
		
		
        </div>
      </div>
    </div>
 <!-- table ends-->
 </div>
 
   
  
     
  </div>
 <!-- content ends -->
  
	  
	 
  

  
	  
	  <div id="footer">
	  </div>

</body>
</html>




