<nav style="position:fixed;z-index:100">

  <a href="/dashboard"><img src="views/images/logo.png" style="width:130px;height:70px;float:left;" /></a>
  
   <a style="float:right;margin-right:20px;margin-top:0px;" href="/">Logout</a></a>
   
  </nav>
 <br><br>