<html>
<head>
<meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>    
		 
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
	  
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
	  
	  <script src="views/js/invoice.js"></script>
	  <style>

.tax{
font-weight:bold;font-size:20px;
}

.left_heading
{
font-weight:bold;font-size:10px;
}

.order{
font-weight:bold;font-size:10px;
}

.normal_text{
font-size:10px;font-weight:bold;
}


.left_text
{

}

table.main th,table.main td{
   
	padding:0px;
}


table.bill th,table.bill td{
   
    padding:0px;
	border:1px solid gray;font-weight:bold;
}


#copy
{

}

</style>
</head>



<body>
<div id="content">
<div class="row">

    <!-- left specific column -->
     <div class="col s12 m12 l12">
	 <table class="main" id="main">
        <thead>
       
        </thead>

        <tbody>
          <tr>
            <td><img src="views/images/logo.png" style="width:150;height:100"></td>
            <td><span class="tax" style="float:right;">Tax Invoice</span><span><br><br><span style="float:right;font-size:10px;" id="copy"></span></td>
           
          </tr>
          <tr>
            <td><span class="left_heading">Sold By:</span></td>
            <td><span class="left_heading">Billing Address</span></td>
           
          </tr>
          <tr>
            <td><span class="normal_text">Hungry Souls Pvt Ltd<br>
			122, 4th Floor, Shahpur Jat <br> New Delhi - 110049
			</span></td>
            <td class="normal_text" style="" id="billing_address"></td>
            
          </tr>
		  
		  <tr>
            <td class="normal_text"><span  class="left_heading normal_text">PAN No: </span>AAICR9147E</td>
            <td><br><span class="left_heading ">Shipping Address</span></td>
           
          </tr>
		  
		  <tr>
            <td class="normal_text"><span class="left_heading normal_text">GSTIN: </span>07AAICR9147E1Z5
			<br>
			<span class="order" id="order_no"></span><br>
			<span class="order" id="order_date"></span>
			</td>
			
            <td class="normal_text" id="shipping_address"></td>
           
          </tr>
		  
		  <tr>
            <!--td class="order" id="order_no"></td -->
            <td ></td>
           
          </tr>
		  
		  <tr>
            <!--td class="order" id="order_date"></td -->
            <td ></td>
           
          </tr>
		  
        </tbody>
      </table>
	 
     </div>
	 
	 <!-- left specific column ends -->
	 
	 <!-- right specific column starts -->
	 <!--div class="col s6 m6 l6">
	 <table style="margin-left:0px;">
        <thead>
       
        </thead>

        <tbody>
          <tr>
            <td><h4 style="font-family:segoe print;">Hungry Jars</h4></td>
            <td><span class="tax">Tax Invoice</span></td>
           
          </tr>
          <tr>
            <td><span class="left_heading">Sold By:</span></td>
            <td><span class="left_heading">Billing Address</span></td>
           
          </tr>
          <tr>
            <td><span>Hungary Jars Private Limited<br>
			4th floor Shahpur Jat New Delhi
			</span></td>
            <td id="billing_address_right"></td>
            
          </tr>
		  
		  <tr>
            <td><span class="left_heading">PAN No: </span>AAQCS4259Q</td>
            <td><span class="left_heading">Shipping Address</span></td>
           
          </tr>
		  
		  <tr>
            <td><span class="left_heading">GST Registration No: </span>27AAQCS4259Q1ZA</td>
            <td id="shipping_address_right"></td>
           
          </tr>
		  
		  <tr>
            <td id="right_order_no"></td>
            <td></td>
           
          </tr>
		  
		  <tr>
            <td id="right_order_date"></td>
            <td></td>
           
          </tr>
		  
        </tbody>
      </table>
	 
     </div -->
	<!-- right specific ends--> 
</div>

<div class="row">

<!-- Left starts-->
  <div class="col s12 m12 l12">
  <table id="bill" class="centered bill" style="margin-left:0px;">
        <thead>
          <tr id="parent_head">
              <th class="order">S.No</th>
              <th class="order">Product Name</th>
              <th class="order">Unit Price</th>
			  <th class="order">Jars</th>
			  <th class="order">Net Amount</th>
			  <!--th class="order">Tax Rate</th -->
			  <!--th class="order">Tax Type</th -->
			  <!--th class="order">Tax Amount</th -->
			  <th class="order">Total Amount</th>
          </tr>
        </thead>

        <tbody id="parent_table">
         
        </tbody>
      </table>
  </div>
  <!-- Left ends-->
  
<!-- right starts-->
  <!-- div class="col s6 m6 l6">
  <table style="margin-left:0px;">
        <thead>
          <tr>
              <th>Sl.No</th>
              <th>Product Name</th>
              <th>Unit Price</th>
			  <th>Jars</th>
			  <th>Net Amount</th>
			  <th>Tax Rate</th>
			  <th>Tax Type</th>
			  <th>Tax Amount</th>
			  <th>Total Amount</th>
          </tr>
        </thead>

        <tbody id="right_parent_table">
         
        </tbody>
      </table>
  </div -->
  <!-- right ends-->  
</div>
</div>
</body>

</html>