<table  class="highlight">
               <tbody>
			   
			    <tr style="border:0px;">
                <td>
				<center>
				<i style="color:white"; class="material-icons menu_icons"></i>
				<a href="/dashboard" class="menu_text">Dashboard</a>
				</center>
				</td>
              </tr>
			   
			   <tr style="border:0px;">
                <td>
				<center>
				<i style="color:white"; class="material-icons menu_icons"></i>
				<a href="/show_all_orders" class="menu_text">Orders</a>
				</center>
				</td>
              </tr>
			  
			  <tr style="border:0px;">
                <td>
				<center>
				<i style="color:white"; class="tiny material-icons  menu_icons"></i>
				<a href="/outlet" class="menu_text">Retail</a>
				</center>
				</td>
              </tr>
			  
              <tr style="border:0px;">
                <td>
				<center>
				<i style="color:white"; class="material-icons menu_icons"></i>
				<a href="/home" class="menu_text">Products</a>
				</center>
				</td>
              </tr>
			  
			   <!--tr style="border:0px;">
                <td>
				<center>
				<i style="color:white"; class="material-icons menu_icons"></i>
				<a href="/category" class="menu_text">Category</a>
				</center>
				</td>
              </tr -->
			  
			  <tr style="border:0px;">
                <td>
				<center>
				<i style="color:white"; class="tiny material-icons  menu_icons"></i>
				<a href="/show_promo_codes" class="menu_text">Promo</a>
				</center>
				</td>
              </tr>
			  
			 
			  
			  <tr style="border:0px;">
                <td>
				<center>
				<i style="color:white"; class="tiny material-icons  menu_icons"></i>
				<a href="/show_all_customers" class="menu_text">Customers</a>
				</center>
				</td>
              </tr>
			  
			  <tr style="border:0px;">
                <td>
				<center>
				<i style="color:white"; class="tiny material-icons  menu_icons"></i>
				<a href="/combo_products" class="menu_text">Combo</a>
				</center>
				</td>
              </tr>
			  
			  <tr style="border:0px;">
                <td>
				<center>
				<i style="color:white"; class="tiny material-icons  menu_icons"></i>
				<a href="/track" class="menu_text">Shipping</a>
				</center>
				</td>
              </tr>
			  
			  
			  
			  <!--tr>
                <td><center><span class="menu_text">Specialization<span></center></td>
              </tr -->
              </tbody>
           </table>
